body {
    background-color: black;
    color: gold;
    font-size: 40px;
    text-align: center;
}

div {
    width: 600x;
    height: auto;
    color: silver;
    font-size: 30px;
    text-align: left;
}

img {
    width: 500px;
    height: auto;
    border: 5px solid gold;
    display: block;
    margin: 20px auto;     
    
}
a {
    text-decoration: none;
}
button {
    display: inline;
    border: 3px solid gold;
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: solid silver;
    margin: 0 auto;
}
.container {
    display: flex;
   
    
    
}
.image,
.button {
    display: flex;
    justify-content: space-around;
    height: 100px;
    
}
.button {
    align-items: center;
}
.image {
    align-items: flex-start;
}
.item {
    width: 300px;
    height: 300px;
    margin: 20px 5px;
    
}
.item.wazwan {
    width: 900px;
    height: 400px;
    margin: 20px 20px;
}


